
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  <style type="text/css">
    <!--
    span.cls_002{font-family:Arial,serif;font-size:18.5px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_002{font-family:Arial,serif;font-size:18.5px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_003{font-family:Arial,serif;font-size:12.0px;color:rgb(32,34,73);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_003{font-family:Arial,serif;font-size:12.0px;color:rgb(32,34,73);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_004{font-family:Arial,serif;font-size:13.0px;color:rgb(32,34,73);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_004{font-family:Arial,serif;font-size:13.0px;color:rgb(32,34,73);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_005{font-family:Arial,serif;font-size:12.0px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_005{font-family:Arial,serif;font-size:12.0px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_006{font-family:Arial,serif;font-size:24.0px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_006{font-family:Arial,serif;font-size:24.0px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_007{font-family:Arial,serif;font-size:12.0px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_007{font-family:Arial,serif;font-size:12.0px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_008{font-family:Arial,serif;font-size:12.0px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_008{font-family:Arial,serif;font-size:12.0px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_009{font-family:Arial,serif;font-size:18.1px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_009{font-family:Arial,serif;font-size:18.1px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_010{font-family:Arial,serif;font-size:10.7px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_010{font-family:Arial,serif;font-size:10.7px;color:rgb(32,34,73);font-weight:normal;font-style:normal;text-decoration: none}
    -->
  </style>
  <script type="text/javascript" src="d4ae468c-90dd-11e9-9d71-0cc47a792c0a_id_d4ae468c-90dd-11e9-9d71-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-421px;top:0px;width:842px;height:595px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">

    <img src="../assets/img/logo.png" width=200px height=150px></div>
  <div style="position:absolute;left:369.92px;top:43.40px" class="cls_002"><span class="cls_002">Offerte voor:</span></div>
  <div style="position:absolute;left:369.41px;top:68.71px" class="cls_002"><span class="cls_002">Bedrijf naam</span></div>
  <div style="position:absolute;left:347.41px;top:94.02px" class="cls_002"><span class="cls_002">deelnemers naam</span></div>
  <div style="position:absolute;left:59.51px;top:177.32px" class="cls_003"><span class="cls_003">contact/naam klant</span></div>
  <div style="position:absolute;left:59.51px;top:193.82px" class="cls_003"><span class="cls_003">offerte nummer</span></div>
  <div style="position:absolute;left:59.51px;top:210.31px" class="cls_003"><span class="cls_003">evenement</span></div>
  <div style="position:absolute;left:59.51px;top:226.81px" class="cls_003"><span class="cls_003">arrangementsdatum</span></div>
  <div style="position:absolute;left:59.51px;top:243.30px" class="cls_003"><span class="cls_003">aantal personen:</span></div>
  <div style="position:absolute;left:59.51px;top:259.80px" class="cls_003"><span class="cls_003">start tijd</span></div>
  <div style="position:absolute;left:60.73px;top:288.70px" class="cls_004"><span class="cls_004">programma voorstel:</span></div>
  <div style="position:absolute;left:59.51px;top:319.62px" class="cls_005"><span class="cls_005">12:00</span></div>
  <div style="position:absolute;left:59.51px;top:336.17px" class="cls_005"><span class="cls_005">12:15</span></div>
  <div style="position:absolute;left:636.05px;top:330.54px" class="cls_006"><span class="cls_006">FOTOVAK</span></div>
  <div style="position:absolute;left:59.51px;top:352.73px" class="cls_005"><span class="cls_005">12:30</span></div>
  <div style="position:absolute;left:59.51px;top:369.28px" class="cls_005"><span class="cls_005">12.50</span></div>
  <div style="position:absolute;left:59.51px;top:385.83px" class="cls_005"><span class="cls_005">13:00</span></div>
  <div style="position:absolute;left:340.06px;top:523.59px" class="cls_007"><span class="cls_007">Deze optie/offerte is geldig tm:</span></div>
  <div style="position:absolute;left:679.93px;top:523.59px" class="cls_007"><span class="cls_007">Telefoonnummer:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-421px;top:605px;width:842px;height:595px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <img src="../assets/img/logo.png" width=200px height=150px></div>
  <div style="position:absolute;left:369.92px;top:43.40px" class="cls_002"><span class="cls_002">Offerte voor:</span></div>
  <div style="position:absolute;left:369.41px;top:68.71px" class="cls_002"><span class="cls_002">Bedrijf naam</span></div>
  <div style="position:absolute;left:347.41px;top:94.02px" class="cls_002"><span class="cls_002">deelnemers naam</span></div>
  <div style="position:absolute;left:59.51px;top:182.47px" class="cls_004"><span class="cls_004">Programma kosten (prijzen per persoon, exl BTW)</span></div>
  <div style="position:absolute;left:99.04px;top:221.57px" class="cls_003"><span class="cls_003">aantal personen</span></div>
  <div style="position:absolute;left:231.74px;top:221.57px" class="cls_003"><span class="cls_003">Omschrijving</span></div>
  <div style="position:absolute;left:553.30px;top:221.57px" class="cls_003"><span class="cls_003">prijs p.p</span></div>
  <div style="position:absolute;left:696.52px;top:221.57px" class="cls_003"><span class="cls_003">totaal prijs</span></div>
  <div style="position:absolute;left:99.04px;top:248.49px" class="cls_007"><span class="cls_007">62</span></div>
  <div style="position:absolute;left:231.74px;top:252.16px" class="cls_007"><span class="cls_007">App City Fietstocht 10 tot 50 personen</span></div>
  <div style="position:absolute;left:553.30px;top:255.54px" class="cls_007"><span class="cls_007">27,50</span></div>
  <div style="position:absolute;left:231.74px;top:268.66px" class="cls_007"><span class="cls_007">App City Fietstocht 50 tot 100 personen</span></div>
  <div style="position:absolute;left:553.30px;top:272.03px" class="cls_007"><span class="cls_007">25,50</span></div>
  <div style="position:absolute;left:231.74px;top:285.15px" class="cls_007"><span class="cls_007">App City Fietstocht 100 personen en meer</span></div>
  <div style="position:absolute;left:553.30px;top:288.53px" class="cls_007"><span class="cls_007">22,50</span></div>
  <div style="position:absolute;left:231.74px;top:301.65px" class="cls_007"><span class="cls_007">Uitbreidingen:</span></div>
  <div style="position:absolute;left:231.74px;top:318.14px" class="cls_007"><span class="cls_007">Begeleid met gids</span></div>
  <div style="position:absolute;left:553.30px;top:321.52px" class="cls_007"><span class="cls_007">10,50</span></div>
  <div style="position:absolute;left:231.74px;top:334.64px" class="cls_007"><span class="cls_007">Snackpakket</span></div>
  <div style="position:absolute;left:553.30px;top:338.01px" class="cls_007"><span class="cls_007">5,00</span></div>
  <div style="position:absolute;left:339.97px;top:533.39px" class="cls_007"><span class="cls_007">Deze optie/offerte is geldig tm:</span></div>
  <div style="position:absolute;left:680.82px;top:533.39px" class="cls_007"><span class="cls_007">Telefoonnummer:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-421px;top:1210px;width:842px;height:595px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <img src="../assets/img/logo.png" width=200px height=150px></div>
  <div style="position:absolute;left:369.92px;top:43.40px" class="cls_002"><span class="cls_002">Offerte voor:</span></div>
  <div style="position:absolute;left:369.41px;top:68.71px" class="cls_002"><span class="cls_002">Bedrijf naam</span></div>
  <div style="position:absolute;left:347.41px;top:94.02px" class="cls_002"><span class="cls_002">deelnemers naam</span></div>
  <div style="position:absolute;left:59.51px;top:178.04px" class="cls_004"><span class="cls_004">bijzonderheden</span></div>
  <div style="position:absolute;left:340.06px;top:524.44px" class="cls_007"><span class="cls_007">Deze optie/offerte is geldig tm:</span></div>
  <div style="position:absolute;left:685.25px;top:524.44px" class="cls_007"><span class="cls_007">Telefoonnummer:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-421px;top:1815px;width:842px;height:595px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <img src="../assets/img/logo.png" width=200px height=150px></div>
  <div style="position:absolute;left:369.92px;top:43.40px" class="cls_002"><span class="cls_002">Offerte voor:</span></div>
  <div style="position:absolute;left:369.41px;top:68.71px" class="cls_002"><span class="cls_002">Bedrijf naam</span></div>
  <div style="position:absolute;left:347.41px;top:94.02px" class="cls_002"><span class="cls_002">deelnemers naam</span></div>
  <div style="position:absolute;left:59.51px;top:178.66px" class="cls_004"><span class="cls_004">Event:</span></div>
  <div style="position:absolute;left:59.51px;top:210.41px" class="cls_008"><span class="cls_008">Deze interactieve Fietstocht is de ideale</span></div>
  <div style="position:absolute;left:59.51px;top:226.82px" class="cls_008"><span class="cls_008">manier om meer van Amsterdam te ontdekken</span></div>
  <div style="position:absolute;left:611.83px;top:222.79px" class="cls_009"><span class="cls_009">FOTOVAK</span></div>
  <div style="position:absolute;left:59.51px;top:243.22px" class="cls_008"><span class="cls_008">op een ontspannen manier. In groepjes</span></div>
  <div style="position:absolute;left:59.51px;top:259.62px" class="cls_008"><span class="cls_008">beleven de deelnemers een leuke fietstocht,</span></div>
  <div style="position:absolute;left:59.51px;top:276.03px" class="cls_008"><span class="cls_008">waarbij inzicht, oriëntatievermogen en</span></div>
  <div style="position:absolute;left:59.51px;top:292.43px" class="cls_008"><span class="cls_008">navigatievermogen centraal staan. De route</span></div>
  <div style="position:absolute;left:59.51px;top:308.83px" class="cls_008"><span class="cls_008">gaat langs de Amstel, even ontspannen buiten</span></div>
  <div style="position:absolute;left:59.51px;top:325.24px" class="cls_008"><span class="cls_008">het drukke centrum.</span></div>
  <div style="position:absolute;left:619.15px;top:337.93px" class="cls_009"><span class="cls_009">FOTOVAK</span></div>
  <div style="position:absolute;left:59.51px;top:358.04px" class="cls_008"><span class="cls_008">Tijdens deze City fietstocht krijg je geen</span></div>
  <div style="position:absolute;left:59.51px;top:374.44px" class="cls_008"><span class="cls_008">routebeschrijving mee, maar coördinaten of</span></div>
  <div style="position:absolute;left:59.51px;top:390.85px" class="cls_008"><span class="cls_008">Points of Interest. Met behulp van de app kun</span></div>
  <div style="position:absolute;left:59.51px;top:407.25px" class="cls_008"><span class="cls_008">je de weg vinden van punt naar punt. Op de</span></div>
  <div style="position:absolute;left:59.51px;top:423.65px" class="cls_008"><span class="cls_008">route is het zeker 'sightseeing'. Je krijgt bij</span></div>
  <div style="position:absolute;left:59.51px;top:440.06px" class="cls_008"><span class="cls_008">bijna elk punt wel een opdracht of vraag. Dat</span></div>
  <div style="position:absolute;left:619.15px;top:443.02px" class="cls_009"><span class="cls_009">FOTOVAK</span></div>
  <div style="position:absolute;left:59.51px;top:456.46px" class="cls_008"><span class="cls_008">kunnen kennisopdrachten of 'fun' opdrachten</span></div>
  <div style="position:absolute;left:59.51px;top:472.86px" class="cls_008"><span class="cls_008">zijn. Natuurlijk gaat het om de punten.</span></div>
  <div style="position:absolute;left:340.06px;top:524.44px" class="cls_007"><span class="cls_007">Deze optie/offerte is geldig tm:</span></div>
  <div style="position:absolute;left:685.25px;top:524.44px" class="cls_007"><span class="cls_007">Telefoonnummer:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-421px;top:2420px;width:842px;height:595px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <img src="../assets/img/logo.png" width=200px height=150px></div>
  <div style="position:absolute;left:369.92px;top:43.40px" class="cls_002"><span class="cls_002">Offerte voor:</span></div>
  <div style="position:absolute;left:369.41px;top:68.71px" class="cls_002"><span class="cls_002">Bedrijf naam</span></div>
  <div style="position:absolute;left:347.41px;top:94.02px" class="cls_002"><span class="cls_002">deelnemers naam</span></div>
  <div style="position:absolute;left:59.51px;top:193.10px" class="cls_004"><span class="cls_004">Horeca inhoud</span></div>
  <div style="position:absolute;left:59.51px;top:217.14px" class="cls_010"><span class="cls_010">Luncharrangement:</span></div>
  <div style="position:absolute;left:59.51px;top:231.92px" class="cls_010"><span class="cls_010">Op tafel plaatsen wij plateau's met onderstaande broodjes:</span></div>
  <div style="position:absolute;left:611.83px;top:222.79px" class="cls_009"><span class="cls_009">FOTOVAK</span></div>
  <div style="position:absolute;left:59.51px;top:246.69px" class="cls_010"><span class="cls_010">diverse soorten vers brood, luxe belegd met een variatie van vis,</span></div>
  <div style="position:absolute;left:59.51px;top:261.47px" class="cls_010"><span class="cls_010">vlees en vegetarisch.</span></div>
  <div style="position:absolute;left:59.51px;top:276.25px" class="cls_010"><span class="cls_010">Croissants, vers uit de oven</span></div>
  <div style="position:absolute;left:59.51px;top:291.02px" class="cls_010"><span class="cls_010">verse jus d'orange en melk</span></div>
  <div style="position:absolute;left:59.51px;top:305.80px" class="cls_010"><span class="cls_010">hardfruit</span></div>
  <div style="position:absolute;left:59.51px;top:320.58px" class="cls_010"><span class="cls_010">evt. uit te breiden met:</span></div>
  <div style="position:absolute;left:59.51px;top:335.35px" class="cls_010"><span class="cls_010">mini quiches 3,50 per persoon</span></div>
  <div style="position:absolute;left:611.83px;top:332.19px" class="cls_009"><span class="cls_009">FOTOVAK</span></div>
  <div style="position:absolute;left:59.51px;top:350.13px" class="cls_010"><span class="cls_010">een glas drinksoep van het seizoen 3,50 per persoon</span></div>
  <div style="position:absolute;left:59.51px;top:379.68px" class="cls_010"><span class="cls_010">Diner</span></div>
  <div style="position:absolute;left:59.51px;top:394.46px" class="cls_010"><span class="cls_010">Menu 1 inclusief 1 drankje uit het Hollands assortiment</span></div>
  <div style="position:absolute;left:59.51px;top:409.24px" class="cls_010"><span class="cls_010">Voorgerecht: Vers landbrod met smeersels</span></div>
  <div style="position:absolute;left:59.51px;top:424.01px" class="cls_010"><span class="cls_010">Hoofdgerecht:</span></div>
  <div style="position:absolute;left:59.51px;top:438.79px" class="cls_010"><span class="cls_010">Keuze uit: Oosters gemarineerde kippendijen, boerenfriet,</span></div>
  <div style="position:absolute;left:611.83px;top:432.22px" class="cls_009"><span class="cls_009">FOTOVAK</span></div>
  <div style="position:absolute;left:59.51px;top:453.57px" class="cls_010"><span class="cls_010">kroepoek, zoetzuur, krokante uitjes en pindasaus.</span></div>
  <div style="position:absolute;left:59.51px;top:468.34px" class="cls_010"><span class="cls_010">Of Pasta-pesto, gebakken scampi's, rucola, pijnboompitten en</span></div>
  <div style="position:absolute;left:59.51px;top:483.12px" class="cls_010"><span class="cls_010">parmezaankrullen</span></div>
  <div style="position:absolute;left:59.51px;top:497.90px" class="cls_010"><span class="cls_010">Nagerecht: Dame Blanche met slagroom en chocolade saus</span></div>
  <div style="position:absolute;left:340.06px;top:524.44px" class="cls_007"><span class="cls_007">Deze optie/offerte is geldig tm:</span></div>
  <div style="position:absolute;left:685.25px;top:524.44px" class="cls_007"><span class="cls_007">Telefoonnummer:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-421px;top:3025px;width:842px;height:595px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <img src="../assets/img/logo.png" width=200px height=150px></div>
  <div style="position:absolute;left:369.92px;top:43.40px" class="cls_002"><span class="cls_002">Offerte voor:</span></div>
  <div style="position:absolute;left:369.41px;top:68.71px" class="cls_002"><span class="cls_002">Bedrijf naam</span></div>
  <div style="position:absolute;left:347.41px;top:94.02px" class="cls_002"><span class="cls_002">deelnemers naam</span></div>
  <div style="position:absolute;left:59.52px;top:181.15px" class="cls_004"><span class="cls_004">overige info:</span></div>
  <div style="position:absolute;left:340.06px;top:524.44px" class="cls_007"><span class="cls_007">Deze optie/offerte is geldig tm:</span></div>
  <div style="position:absolute;left:685.25px;top:524.44px" class="cls_007"><span class="cls_007">Telefoonnummer:</span></div>
</div>
</body>
</html>
