mat-toolbar {
  border-bottom: 4px solid white;
background-color: #394365;
}

img {
  width: 70px;
  height: 60px;
  display: inline-block;
  margin-top: -8px;
}

span {
  font-size: 30px;
  display: inline-block;
  margin-top: 13px;
}

.header {
  margin: auto;
}

