<app-header></app-header>
<div class="page">
  <form class="container" role="form" #f="ngForm">

    <div class="page-content">

      <div style="height: 590px;">
        <h3>
          Leverancier overzicht
        </h3>
        <div class="containerTables">
          <table class="telTable">
            <th class="telefoons">Telefoons
            </th>
            <tr *ngFor="let telephone of supplier.phone_numbers" class="spacer">
              <td>
                {{telephone.phone}}
              </td>
            </tr>
          </table>
          <table>
          </table>
          <table>
            <th>Emails
            </th>
            <tr *ngFor="let mail of supplier.email_addresses">
              <td>
                {{mail.email}}
              </td>
            </tr>
          </table>
        </div>
        <div>

          <label for="name" class="col-sm-2">Naam</label>
          <input type="text" id="name" name="name" disabled
                 [(ngModel)]="supplier.name">

        </div>
        <div>
          <label class="col-sm-2" for="contactperson">Contactpersoon</label>
          <input type="text" id="contactperson" name="contactperson" disabled
                 [(ngModel)]="supplier.contact_person">
        </div>
        <div>
          <label class="col-sm-2" for="zipcode">Postcode</label>
          <input type="text" id="zipcode" name="zipcode" disabled
                 [(ngModel)]="zipcode">
        </div>
        <div>
          <label class="col-sm-2" for="address">Adres</label>
          <input type="text" id="address" name="address" disabled
                 [(ngModel)]="address">
        </div>
        <div>
          <label class="col-sm-2" for="city">Stad</label>
          <input type="text" id="city" name="city" disabled
                 [(ngModel)]="city">
        </div>
        <div>
          <label class="col-sm-2" for="supervisor">Leidinggevende</label>
          <input type="text" id="supervisor" name="supervisor" disabled
                 [(ngModel)]="supplier.supervisor">
        </div>
        <div>
          <label class="col-sm-2" for="website">Website</label>
          <input type="text" id="website" name="website" disabled

                 [(ngModel)]="supplier.website">
        </div>
        <div id="note-div">
          <label class="col-sm-2" for="note">Notitie</label>
          <textarea type="text" id="note" name="note " disabled

                    [(ngModel)]="supplier.note" ></textarea>
        </div>
        <div>
          <label class="col-sm-2" for="image">Image</label>
          <input type="text" id="image" name="image"  disabled

                 [(ngModel)]="supplier.image">

          <div class="buttons" style="padding-top: 1em">

            <button style="background-color: red; color: white" class="btn btn-danger" *ngIf="currentUser.role === getRoles().ADMIN || currentUser.role === getRoles().EMPLOYEE" style="margin-right: 10px" (click)="onDelete()">
              <i class="fa fa-trash"></i> Verwijderen
            </button>
            <button style="background-color: #651BC8" *ngIf="currentUser.role === getRoles().ADMIN || currentUser.role === getRoles().EMPLOYEE" class="btn btn-primary" [routerLink]="['/homeeventmanager/supplieroverview/supplieredit/'+ supplier.supplierid]"><i class="fa fa-pencil"></i>
              Bewerken
            </button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
