
mat-card{
  width: 40%;
  margin: auto;
  margin-top: 9%;
  background-color: red;
}
.mat-card-grid-element{
  height: 100px;
  width: 100px;
  padding: 10px 10px 10px 10px;
}
img{
  margin: auto;
}
mat-grid-tile {
  background: lightblue;
}
