<app-header></app-header>
<div class="cardBody">
  <h1>Welkom Liselote</h1>
  <mat-card class="cardElementen">
    <div class="grid">
      <div class="box">
        <mat-card routerLink="customeroverview/" class="mat-card-grid-element" style=" background-color:#FC0F3B "><img
          src="../assets/img/whiteCustomer.png"
          style="margin-top: -8px; height: 57px; width: 55px; margin-left: -2px; ">
          <p>Klanten</p>
        </mat-card>
      </div>
      <div class="box">
        <mat-card routerLink="reserveringenoverview/" class="mat-card-grid-element" style=" background-color:#F81468 "><img
          src="../assets/img/agreementWhite.png"
          style="margin-top: -8px; height: 65px; width: 65px; margin-left: -10px; ">
          <p style="margin-left: -27px">Reserveringen</p>
        </mat-card>
      </div>
      <div class="box">
        <mat-card routerLink="evenementenoverview/" class="mat-card-grid-element" style=" background-color:#FD676A"><img
          src="../assets/img/event.png"
          style="height: 65px; width: 60px; margin-left: -8px; margin-top:-10px;">
          <p style="margin-left:-27px">Evenementen</p>
        </mat-card>
      </div>
      <div class="box">
        <mat-card class="mat-card-grid-element" style="background-color:#FC0F3B"><img
          src="../assets/img/whiteSupplier.png"
          style="height: 65px; width: 65px; margin-left: -10px; margin-top:-10px;">
          <p style="margin-left: -23px;">Leveranciers</p>
        </mat-card>
      </div>
      <div class=" box">
        <mat-card class="mat-card-grid-element" style=" background-color:#F81468 "><img
          src="../assets/img/calendar.png"
          style="height: 50px; width: 50px; margin-left: -3px; margin-top:-5px;background-color:#F81468">
          <p style="margin-top: 30px;
             margin-left: -3px;">Agenda</p>
        </mat-card>
      </div>
      <div class="box">
        <mat-card class="mat-card-grid-element" style=" background-color:#FD676A"><img
          src="../assets/img/forkWhite.png"
          style="height: 65px; width: 65px; margin-left: -10px; margin-top:-10px;">
          <p>Horeca</p>
        </mat-card>
      </div>
      <div class="box">
        <mat-card class="mat-card-grid-element" style="background-color:#FC0F3B"><img
          src="../assets/img/MailWhite.png"
          style="height: 50px; width: 50px; margin-left: -4px; margin-top:-3px;">
          <p>Mailen</p>
        </mat-card>
      </div>
      <div class="box">
        <mat-card class="mat-card-grid-element" style=" background-color:#F81468 "><img
          src="../assets/img/instructorWhite.png"
          style="height: 60px; width: 50px; margin-left: -2px; margin-top:-10px;">
          <p style="margin-left: -22px;">Instructeurs</p>
        </mat-card>
      </div>
      <div class="box">
        <mat-card routerLink="eventmanagersoverview/" class="mat-card-grid-element" style=" background-color:#FD676A"><img
          src="../assets/img/Employee.png"
          style="height: 65px; width: 65px; margin-left: -10px; margin-top:-10px;">
          <p style="margin-left: -23px;">Werknemers</p>
        </mat-card>
      </div>

    </div>
  </mat-card>
</div>
