<app-header></app-header>
<div class="page">
  <form class="container" role="form" #f="ngForm" (ngSubmit)="ngSubmit(f)">

    <div class="page-content">

      <div style="height: 590px;">
        <h3>
          Klant aanpassen
        </h3>
        <div class="containerTables">
          <table class="telTable">
            <th class="telefoons">Telefoons
              <img src="../assets/img/addIcon.png"
                   style="    float:right; margin-right: 10px;
                width: 20px;
                height: 20px;
                cursor: pointer"
                   (click)="onCreateTel()"
                   id="addTel"
                   *ngIf="tel.length == 10 && tel != '' && customer.phone_numbers.length < 3; else hidden"
              >
              <ng-template #hidden>
                <img src="../assets/img/addIcon.png" style="
                width: 20px;
                height: 20px;
                opacity: 0"
                >
              </ng-template>
            </th>
            <tr>
              <input class="input" id="phone"
                     [(ngModel)]="customer.phone_numbers[customer.phone_numbers.length - 1].phonenumber" name="phones" required minlength="10" maxlength="10" #phone="ngModel">
            </tr>
            <tr *ngFor="let telephone of customer.phone_numbers" class="spacer">
              <td
                *ngIf=" customer.phone_numbers[customer.phone_numbers.length - 1].phonenumber !== telephone.phonenumber">
                {{telephone.phonenumber}}
                <img src="../assets/img/removeIcon.png" style="color: red; float:right; margin-right: 20px;
            cursor: pointer;width: 20px;
                height: 20px;" (click)="onDeleteTel()"
                >
              </td>
            </tr>
          </table>
          <table>
            <thead>
            <th>Emails
              <img src="../assets/img/addIcon.png"
                   style="float:right; margin-right: 10px;
                width: 23px;
                height: 23px;
            cursor: pointer;"
                   (click)="onCreateMail()"
                   id="addMail"
                   *ngIf=" email.valid && mail != '' && customer.email_addresses.length < 3; else hidden"
              >
            </th>
            </thead>
            <tr>
              <input class="input" id="email"
                     [(ngModel)]="customer.email_addresses[customer.email_addresses.length - 1].email" name="emails" email required #email="ngModel">
            </tr>
            <tr *ngFor="let mail of customer.email_addresses">
              <td *ngIf=" customer.email_addresses[customer.email_addresses.length - 1].email !== mail.email">
                {{mail.email}}
                <img src="../assets/img/removeIcon.png" style="margin-left: 30px; float:right; margin-right: 20px;
            cursor: pointer;
             width: 20px;
              height: 20px;"

                     (click)="onDeleteMail(mail)"
                >
              </td>
            </tr>
          </table>
        </div>
        <div>

          <label for="title" class="col-sm-2">Title</label>
          <input type="text" id="title" name="title" placeholder="title" required
                 [(ngModel)]="customer.title"
                 [disabled]="loading">

        </div>
        <div>
          <label class="col-sm-2" for="fname">Voornaam</label>
          <input type="text" id="fname" name="fname" placeholder="voornaam" required
                 [(ngModel)]="customer.first_name"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="infix">Tussenvoegsel</label>
          <input type="text" id="infix" name="infix" placeholder="tussenvoegsel"
                 [(ngModel)]="customer.infix"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="lname">Achternaam</label>
          <input type="text" id="lname" name="lname" placeholder="achternaam" required

                 [(ngModel)]="customer.last_name"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="address">Adres</label>
          <input type="text" id="address" name="address " placeholder="adres" required

                 [(ngModel)]="customer.address"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="zipcode">Postcode</label>
          <input type="text" id="zipcode" name="zipode" placeholder="postcode" required

                 [(ngModel)]="customer.zipcode"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="country">Land</label>
          <input type="text" id="country" name="country" placeholder="land" required

                 [(ngModel)]="customer.country"
                 [disabled]="loading">
        </div>
        <div style="padding-bottom: 0.5em; padding-top: 0.5em ">
          <label class="col-sm-2">Geslacht</label>
          <select id="geslacht" [disabled]="loading" required>
            <option value="m">Man</option>
            <option value="v">Vrouw</option>
          </select>
        </div>
        <div>
          <label class=" col-sm-2" for="city">Stad</label>
          <input type="text" id="city" placeholder="stad" required
                 [(ngModel)]="customer.city" name="city"
                 [disabled]="loading">
          <div class="buttons" style="padding-top: 1.5em">

            <button class="btn btn-warning" style="margin-right: 10px" routerLink="/homeeventmanager/customeroverview">
              <i class="fa fa-close"></i> Annuleren
            </button>
            <button class="btn btn-primary" id="submit" type="submit" [disabled]="!f.valid"><i class="fa fa-save"></i>
              Toevoegen
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
