<div class="container">
  <ul>
    <li routerLink="/homeeventmanager/customeroverview" id="Klanten">Klanten</li>
    <li routerLink="/homeeventmanager/reserveringenoverview" id="Reserveringen">Reserveringen</li>
    <li routerLink="/homeeventmanager/evenementenoverview" id="Evenementen">Evenementen</li>
    <li routerLink="/homeeventmanager/supplieroverview" id="Leveranciers">Leveranciers</li>
    <li id="Agenda">Agenda</li>
    <li routerLink="/homeeventmanager/horecaoverview" id="Horeca">Horeca</li>
    <li id="Mailen">Mailen</li>
    <li routerLink="/homeeventmanager/instructeursoverview" id="Instructeurs">Instructeurs</li>
    <li routerLink="/homeeventmanager/werknemersoverview" id="Werknemers">Werknemers </li>
  </ul>
</div>
