<div class="container">
  <ul>
    <li routerLink="/{{ getRoleRootLink() }}/customeroverview" id="Klanten">Klanten</li>
    <li routerLink="/{{ getRoleRootLink() }}/reserveringenoverview" id="Reserveringen">Reserveringen</li>
    <li routerLink="/{{ getRoleRootLink() }}/evenementenoverview" id="Evenementen">Evenementen</li>
    <li routerLink="/{{ getRoleRootLink() }}/supplieroverview" id="Leveranciers">Leveranciers</li>
    <li routerLink="/{{ getRoleRootLink() }}/agenda"id="Agenda">Agenda</li>
    <li routerLink="/{{ getRoleRootLink() }}/horecaoverview" id="Horeca">Horeca</li>
    <li id="Mailen">Mailen</li>
    <li routerLink="/{{ getRoleRootLink() }}/instructeursoverview" id="Instructeurs">Instructeurs</li>
    <li routerLink="/{{ getRoleRootLink() }}/werknemersoverview" id="Werknemers">Werknemers </li>
  </ul>
</div>
