<div class="container">
  <ul>
    <li routerLink="/homeeventmanager/customeroverview" id="Klanten">Klanten</li>
    <li routerLink="" id="Reserveringen">Reserveringen</li>
    <li routerLink="/homeeventmanager/evenementenoverview" id="Evenementen">Evenementen</li>
    <li routerLink="/homeeventmanager/supplieroverview"id="Leveranciers">Leveranciers</li>
    <li id="Agenda">Agenda</li>
    <li id="Horeca">Horeca</li>
    <li id="Mailen">Mailen</li>
    <li id="Instructeurs">Instructeurs</li>
    <li id="Werknemers">Werknemers</li>
  </ul>
</div>
