.container {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  margin-top: 25px;
}

li {
  display: inline;
  padding: 10px;
  margin-left: 5px;
  border: 1px solid white;
}

li:hover {
  background-color: #394365;
  opacity: 0.5;
  color: #FFFFFF;
}
