<app-header></app-header>
<div class="page">
  <form class="container" role="form" #f="ngForm" (ngSubmit)="ngSubmit(f)">

    <div class="page-content">

      <div style="height: 550px;">
        <h3 style="padding: 0 0 1em">
          Instructeur aanpassen
        </h3>
        <div class="containerTables">
          <table class="telTable">
            <th class="telefoons">Telefoon
            </th>
            <tr>
              <input class="input" id="phone"
                     [(ngModel)]="instructor.phone_number" name="phone" required minlength="10" maxlength="10"
                     pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$">
            </tr>
          </table>

          <table class="mailTable">
            <thead>
            <th>Email
            </th>
            </thead>
            <tr>
              <input class="input" id="email"
                     [(ngModel)]="instructor.email_address" name="email" email required>
            </tr>
          </table>
        </div>
        <div>
          <label class="col-sm-2" for="fname">Voornaam</label>
          <input type="text" id="fname" name="fname" placeholder="voornaam" required
                 pattern="[\w -]*$"
                 [(ngModel)]="instructor.first_name">
        </div>
        <div>
          <label class="col-sm-2" for="infix">Tussenvoegsel</label>
          <input type="text" id="infix" name="infix" placeholder="tussenvoegsel"
                 pattern="[\w -]*$"
                 [(ngModel)]="instructor.infix">
        </div>
        <div style="padding: 0 0 2em">
          <label class="col-sm-2" for="lname">Achternaam</label>
          <input type="text" id="lname" name="lname" placeholder="achternaam" required
                 pattern="[\w -]*$"
                 [(ngModel)]="instructor.last_name">
        </div>
        <div id="note-div">
          <label class="col-sm-2" for="note">Notitie</label>
          <textarea type="text" id="note" name="note " placeholder="Notitie"

                    [(ngModel)]="instructor.note"></textarea>
        </div>

      </div>
    </div>
    <div class="buttons" style="margin-right: -5.5%">

      <button class="btn btn-warning" style="margin-right: 10px"
              routerLink="/homeeventmanager/instructeursoverview">
        <i class="fa fa-close"></i> Annuleren
      </button>
      <button class="btn btn-primary" id="submit" type="submit" [disabled]="!f.valid"><i class="fa fa-save"></i>
        Toevoegen
      </button>
    </div>
  </form>
</div>
