<app-header></app-header>
<div class="page">
  <form class="container" role="form" #f="ngForm" (ngSubmit)="ngSubmit(f)">

    <div class="page-content">

      <div style="height: 590px;">
        <h3>
          Contract aanpassen
        </h3>
        <div>

          <label for="typeContract" class="col-sm-2">Type contract</label>
          <input type="text" id="typeContract" name="typeContract" placeholder="Type contract" required
                 [(ngModel)]="contract.type"
                 [disabled]="loading">

        </div>
        <div>
          <label class="col-sm-2" for="title">Contracttitel</label>
          <input type="text" id="title" name="title" placeholder="Titel" required
                 [(ngModel)]="contract.title"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="description">Omschrijving</label>
          <input type="text" id="description" name="description" placeholder="Omschrijving" required
                 [(ngModel)]="contract.description"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="inclubtw">Incl. BTW</label>
          <input type="number" id="inclubtw" name="inclubtw" placeholder="Incl. BTW" required
                 [(ngModel)]="contract.inclubtw"
                 [disabled]="loading"
                 pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$">
        </div>
        <div>
          <label class="col-sm-2" for="exclubtw">Excl. BTW</label>
          <input type="number" id="exclubtw" name="exclubtw" placeholder="Excl. BTW" required
                 [(ngModel)]="contract.exclubtw"
                 [disabled]="loading"
                 pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$">
        </div>
        <div>
          <label class="col-sm-2" for="percentage">BTW percentage</label>
          <input type="number" id="percentage" name="percentage" placeholder="BTW percentage"
                 [(ngModel)]="contract.btw_percentage"
                 [disabled]="loading"
                 pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$">
        </div>
        <div>
          <label class="col-sm-2" for="preconditions">Precondities</label>
          <input type="text" id="preconditions" name="preconditions" placeholder="Precondities"

                 [(ngModel)]="contract.pre_conditions"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="insurance">Verzekering</label>
          <input type="text" id="insurance" name="insurance" placeholder="Verzekering"

                 [(ngModel)]="contract.insurance"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="responsibility">Verantwoordelijkheid</label>
          <input type="text" id="responsibility" name="responsibility" placeholder="Verantwoordelijkheid"

                 [(ngModel)]="contract.responsibility"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="extras">Extra's</label>
          <input type="text" id="extras" name="extras" placeholder="Extra's"

                 [(ngModel)]="contract.extras"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="start">Startdatum</label>
          <input type="date" id="start" name="start" placeholder="Startdatum"

                 [(ngModel)]="contract.startDate"
                 [disabled]="loading">
        </div>
        <div>
          <label class="col-sm-2" for="end">Einddatum</label>
          <input type="date" id="end" name="end" placeholder="Einddatum"

                 [(ngModel)]="contract.endDate"
                 [disabled]="loading">
        </div>

        <div class="buttons" style="padding-top: 1.5em">

          <button class="btn btn-warning" style="margin-right: 10px"
                  [routerLink]="['/homeeventmanager/supplieroverview/suppliercontract/', this.currentId]">
            <i class="fa fa-close"></i> Annuleren
          </button>
          <button class="btn btn-primary" id="submit" type="submit" [disabled]="!f.valid"><i class="fa fa-save"></i>
            Toevoegen
          </button>
        </div>
          <div class="containerTables">
            <table class="locationTable">
              <th class="locations">Opties
                <img src="../assets/img/addIcon.png"
                     *ngIf="optionList.length < 4 && optionString.length != 0; else hidden"
                     style=" margin-left: 200px;
                width: 20px;
                height: 20px;
                cursor: pointer"
                     (click)="onCreateOption()"
                     id="addLocation">
                <ng-template #hidden>
                  <img src="../assets/img/addIcon.png" style=" margin-left: 200px;
                width: 20px;
                height: 20px;
                opacity: 0"
                  >
                </ng-template>
                >
              </th>
              <tr>
              <textarea type="text" id="note" name="note" placeholder="Opties"
                        style="margin-top: 0.5em; padding: 10px; display: inline-block; border-radius: 4px; width: 400px; height: 160px;"
                        [(ngModel)]="optionString"></textarea>
              </tr>
              <tr *ngFor="let option of this.contract.options">
                <td>
                  {{option.option}}
                  <img src="../assets/img/removeIcon.png" style="color: red; float:right; margin-right: 20px;
            cursor: pointer;width: 20px;
                height: 20px;" (click)="onDeleteOption()"
                  >
                </td>
              </tr>
            </table>
          </div>

      </div>
    </div>
  </form>
</div>
