<app-header></app-header>
<app-navbar></app-navbar>
<div class="leverancierPage" style="padding: 3em 0 0 3em">
  <h3 style="padding-bottom: 2em">Leveranciers</h3>
  <div>
    <button routerLink="createsupplier" *ngIf="currentUser.role === getRoles().ADMIN || currentUser.role === getRoles().EMPLOYEE" style="padding: 0.25em 1em 0.25em 1.5em">Nieuwe Leverancier<i class="fa fa-plus-circle fa-lg"
                                                                                                                                                                    style="color: green; margin-left: 10px;"></i>
    </button>
    <input [(ngModel)]="searchTerm" class="searchbar" placeholder="Zoeken..."
           style="background-image: url('../../../../assets/img/search icon.png');"
           type="text">
  </div>
  <div class="fullTable" style="padding-top: 2em">
    <table>
      <th class="tableName">Naam</th>
      <th class="tableContactPerson">Contactpersoon</th>
      <th class="tableSupervisor">Leidinggevende</th>
      <th class="tableWebsite">Website</th>
      <th class="tablePhone">Telefoon</th>
      <th class="tableEmail">Email</th>
      <th class="tableEdit"></th>
      <th class="tableDelete"></th>
      <tr
        *ngFor="let supplier of supplierList | supplierFilter: searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: firstPage }">
        <td [routerLink]="['supplierdetails/'+ supplier.supplierid]">{{supplier.name}}</td>
        <td [routerLink]="['supplieredit/'+ supplier.supplierid]">{{supplier.contact_person}}</td>
        <td [routerLink]="['supplieredit/'+ supplier.supplierid]">{{supplier.supervisor}}</td>
        <td [routerLink]="['supplieredit/'+ supplier.supplierid]">{{supplier.website}}</td>
        <td [routerLink]="['supplieredit/'+ supplier.supplierid]">{{supplier.phone_numbers[0].phone}}</td>
        <td [routerLink]="['supplieredit/'+ supplier.supplierid]">{{supplier.email_addresses[0].email}}</td>
        <td *ngIf="currentUser.role === getRoles().ADMIN || currentUser.role === getRoles().EMPLOYEE; else disabledEditButton" class="tableEdit">
          <button style="margin-left: -8px; background-color: white; width: 39px; height: 40px; border: none"><i
            class="fa fa-pencil fa-2x"
            style="color: purple;" (click)="test(supplier.name)" [routerLink]="['supplieredit/'+ supplier.supplierid]"></i>
          </button>
        </td>
        <ng-template #disabledEditButton>
          <td>
            <button disabled
                    style="margin-left: -8px; width: 39px; height: 40px; border: none; background-color: white"><i
              class="fa fa-pencil fa-2x"
              style="color: silver; "></i>
            </button>
          </td>
        </ng-template>
        <td *ngIf="currentUser.role === getRoles().ADMIN || currentUser.role === getRoles().EMPLOYEE; else disabledDeleteButton" class="tableDelete">
          <button style="margin-left: -8px; background-color: white; width: 38px; height: 40px; border: none"><i
            class="fa fa-trash fa-2x"
            style="color: red;" (click)="onDelete(supplier.supplierid, supplier.name)"></i>
          </button>
        </td>
        <ng-template #disabledDeleteButton>
          <td>
            <button disabled
                    style="margin-left: -8px; width: 39px; height: 40px; border: none; background-color: white"><i
              class="fa fa-trash fa-2x"
              style="color: silver; "></i>
            </button>
          </td>
        </ng-template>
      </tr>
    </table>
    <div>
      <pagination-controls (pageChange)="firstPage = $event" autoHide="true"
                           class="pagination"></pagination-controls>
    </div>
  </div>
</div>

