<app-header></app-header>
<div class="page">
  <form class="container" role="form" #f="ngForm" (ngSubmit)="ngSubmit(f)">

    <div class="page-content">

      <div style="height: 590px;">
        <h3>
          Horeca toevoegen
        </h3>
        <div class="containerTables">
          <!--          <table class="telTable">-->
          <!--            <th class="telefoons">Telefoons-->
          <!--              <img src="../assets/img/addIcon.png"-->
          <!--                   style="    float:right; margin-right: 10px;-->
          <!--                width: 20px;-->
          <!--                height: 20px;-->
          <!--                cursor: pointer"-->
          <!--                   (click)="onCreateTel()"-->
          <!--                   id="addTel"-->
          <!--                   *ngIf="tel.length == 10 && tel != '' && customer.phone_numbers.length < 3; else hidden"-->
          <!--              >-->
          <!--              <ng-template #hidden>-->
          <!--                <img src="../assets/img/addIcon.png" style="-->
          <!--                width: 20px;-->
          <!--                height: 20px;-->
          <!--                opacity: 0"-->
          <!--                >-->
          <!--              </ng-template>-->
          <!--            </th>-->
          <!--            <tr>-->
          <!--              <input class="input" id="phone"-->
          <!--                     [(ngModel)]="tel " name="phones" required minlength="10" maxlength="10">-->
          <!--            </tr>-->
          <!--            <tr *ngFor="let tel of customer.phone_numbers" class="spacer">-->
          <!--              <td>-->
          <!--                {{tel.phonenumber}}-->
          <!--                <img src="../assets/img/removeIcon.png" style="color: red; float:right; margin-right: 20px;-->
          <!--            cursor: pointer;width: 20px;-->
          <!--                height: 20px;" (click)="onDeleteTel(tel)"-->
          <!--                >-->
          <!--              </td>-->
          <!--            </tr>-->
          <!--          </table>-->
        </div>
        <div>

          <label for="name" class="col-sm-2">Naam</label>
          <input type="text" id="name" name="name" placeholder="naam" required
                 [(ngModel)]="catering.cateringName">

        </div>
        <div>
          <label class="col-sm-2" for="fname">Contactpersoon</label>
          <input type="text" id="fname" name="fname" placeholder="voornaam" required
                 [(ngModel)]="catering.contactPerson">
        </div>
        <div>
          <label class="col-sm-2" for="infix">Telefoonnummer</label>
          <input type="text" id="infix" name="infix" placeholder="tussenvoegsel" minlength="10" maxlength="10"
                 [(ngModel)]="catering.phone" required>
        </div>
        <div style="padding-bottom: 0.5em; padding-top: 0.5em ">
          <label class="col-sm-2">Leverancier</label>
          <select id="supplier" required>
            <option value="">Man</option>
          </select>

        </div>
        <div>
          <label class="col-sm-2" for="address">Adres</label>
          <input type="text" id="address" name="address " placeholder="adres" required

                 [(ngModel)]="catering.address">
        </div>

        <div>
          <label class="col-sm-2" for="zipcode">Postcode</label>
          <input type="text" id="zipcode" name="zipode" placeholder="postcode" required

                 [(ngModel)]=catering.zipcode>
        </div>

        <div>
          <label class=" col-sm-2" for="city">Stad</label>
          <input type="text" id="city" placeholder="stad" required
                 [(ngModel)]="catering.city" name="city">
        </div>
        <div class="buttons" style="padding-top: 1em">

          <button class="btn btn-warning" style="margin-right: 10px" routerLink="/homeeventmanager/customeroverview">
            <i class="fa fa-close"></i> Annuleren
          </button>
          <button class="btn btn-primary" id="submit" type="submit" [disabled]="!f.valid"><i class="fa fa-save"></i>
            Toevoegen
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
