<app-header>
</app-header>
<div class="inlogCard">
  <mat-card class="mat-card" style="background-color: white; border-radius: 20px">
    <div class="headerEventmanager">
    <img src="{{imagePath}}" alt="logo">
    <span>{{rol}}</span>
  </div>
    <form class="form-container" [formGroup]="loginForm" (ngSubmit)="OnLogin()">
      <div id="login-page" class="center-field">
        <div class="container">
          <div class="title">Inloggen</div>

          <div>
            <label class="text">Gebruikersnaam</label>
            <input type="text"
                   class="form-control"
                   placeholder="Uw gebruikersnaam"
                   name="username"
                   formControlName="loginUsername"
                   [ngClass]="{ 'is-invalid': !getLoginFormControls().loginUsername.valid && getLoginFormControls().loginUsername.dirty }"
            >
            <span class="invalid-feedback" *ngIf="!getLoginFormControls().loginUsername.valid && getLoginFormControls().loginUsername.dirty">
              <span *ngIf="getLoginFormControls().loginUsername.errors.required">Gebruikersnaam is verplicht</span>
              <span *ngIf="getLoginFormControls().loginUsername.errors.pattern">Illegale karakters zijn niet toegestaan</span>
            </span>
          </div>

          <label class="text" id="wachtwoord">Wachtwoord</label>
          <input type="password"
                 class="form-control"
                 placeholder="Uw wachtwoord"
                 name="password"
                 formControlName="loginPassword"
                 [ngClass]="{ 'is-invalid' : !getLoginFormControls().loginPassword.valid && getLoginFormControls().loginPassword.dirty }"
          >
          <span class="invalid-feedback" *ngIf="!getLoginFormControls().loginPassword.valid && getLoginFormControls().loginPassword.dirty">
            <span *ngIf="getLoginFormControls().loginPassword.errors.required">Wachtwoord is verplicht</span>
          </span>
          <div>

            <div class="knop">
              <button type="submit" class="btn" [disabled]="!loginForm.valid">Inloggen</button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </mat-card>
</div>
