<app-header></app-header>
<app-navbar></app-navbar>
<div class="reserveringenPage" style="padding: 3em 0 0 3em">
  <h3 style="padding-bottom: 2em">Reserveringen Overzicht</h3>
  <div>
    <button *ngIf="currentUser.role === getRoles().ADMIN || currentUser.role === getRoles().EMPLOYEE" style="padding: 0.25em 1em 0.25em 1.5em">Nieuwe Reservering<i class="fa fa-plus-circle fa-lg"
                                                                          style="color: green; margin-left: 10px;"></i>
    </button>
    <input [(ngModel)]="searchTerm" class="searchbar" placeholder="Zoeken..."
           style="background-image: url('../../../assets/img/search icon.png');"
           type="text">
  </div>
  <div class="fullTable" style="padding-top: 2em">
    <table>
      <th class="tableEvenement">Evenement</th>
      <th class="tableCustomer">Klant</th>
      <th class="tableDatum">Datum</th>
      <th class="tableMaxInstructor">Max instructor</th>
      <th class="tableEdit"></th>
      <th class="tableDelete"></th>
      <th *ngIf="currentUser.role === getRoles().INSTRUCTOR" class="tableSubscribeEvent"></th>
      <tr
        *ngFor="let order of orderList | orderFilter: searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: firstPage }">
        <td>{{order.eventid.name}}</td>
        <td>{{order.customerid.first_name}}</td>
        <td>{{order.dateorder}}</td>
        <td>{{order.eventid.maxInstructors}}</td>
        <td *ngIf="order.orderId != null && currentUser.role === getRoles().ADMIN || currentUser.role === getRoles().EMPLOYEE; else disabledEditButton" class="tableEdit">
          <button style="margin-left: -8px; background-color: white; width: 39px; height: 40px; border: none"><i
            class="fa fa-pencil fa-2x"
            style="color: purple; "></i>
          </button>
        </td>
        <ng-template #disabledEditButton>
          <td>
            <button disabled
                    style="margin-left: -8px; width: 39px; height: 40px; border: none; background-color: white"><i
              class="fa fa-pencil fa-2x"
              style="color: silver; "></i>
            </button>
          </td>
        </ng-template>
        <td *ngIf="order.orderId != null && currentUser.role === getRoles().ADMIN || currentUser.role === getRoles().EMPLOYEE; else disabledDeleteButton" class="tableDelete">
          <button (click)="OnDelete(order.orderId)" style="margin-left: -8px; background-color: white; width: 38px; height: 40px; border: none"><i
            class="fa fa-trash fa-2x"
            style="color: red;"></i></button>
        </td>
        <ng-template #disabledDeleteButton>
          <td>
            <button disabled
                    style="margin-left: -8px; width: 38px; height: 40px; border: none; background-color: white"><i
              class="fa fa-trash fa-2x"
              style="color: silver;"></i></button>
          </td>
        </ng-template>
        <td *ngIf="order.orderId != null && currentUser.role === getRoles().INSTRUCTOR; else hideSubscribeEventCell" class="tableDelete">
          <button class="btn btn-outline-success" (click)="OnSubscribeToEvent(order.orderId, order.events.id);">Inschrijven voor evenement</button>
        </td>

        <ng-template #hideSubscribeEventCell>

        </ng-template>

      </tr>
    </table>
    <div>
      <pagination-controls (pageChange)="firstPage = $event" autoHide="true"
                           class="pagination"></pagination-controls>
    </div>
  </div>
</div>
