<!--<app-header></app-header>-->

<span *ngIf="!imagePath; else showUploadedImage">
  <label for="image_uploader" style="cursor: pointer">
    <span class="input">Upload een afbeelding</span>
  </label>

  <input type="file" id="image_uploader" (change)="selectFile($event)" style="display: none;">

  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
</span>

<ng-template #showUploadedImage>
  <span class="input">{{ this.imagePath.length >= 15 ? this.imagePath.substr(0, 15) + '...' : this.imagePath }}</span>
  <button class="btn btn-danger"  (click)="delete()">Verwijder</button>

  <br>


<!--  <img src="{{ this.imageUrl }}" alt="{{ this.imagePath }}">-->
</ng-template>




<!--<label class="btn btn-default">-->
<!--  <input type="file" (change)="selectFile($event)">-->
<!--</label>-->



<!--<app-list-upload [anotherEntityId]="entityId" ></app-list-upload>-->
