table {
  table-layout: fixed;
  border: 1px solid;
  width: 80%;
}

th {
  background-color: #394365;
  color: white;
  border-right: 1px solid white;
  padding: 0 0 0 0.5em;
  overflow: hidden;
}

tr:hover {
  cursor: pointer;
  background-color: #ddd;

}

td {
  padding: 0 0 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid;
}

.searchbar {
  padding: 0.25em 2.5em 0.25em 0.75em;
  width: 15%;
  margin-left: 65px;
  border-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 95%;
}

.searchbar {
  border: 2px solid silver;
}

.searchbar:focus {
  outline: none;
}

button {
  outline: none;
  width: 240px;
}

.pagination {
  margin-left: 26%;

  margin-top: 1em;
}

.tableContractTitle {
  width: 20%;
}

.tableContractDescription {
  width: 20%;
}

.tableContractInclBTW {
  width: 19%;
}

.tableContractExclBTW {
  width: 15%;
}

.tableContractResponsibility {
  width: 15%;
}

.tableContractStartDate {
  width: 15%;
}

.tableContractEndDate {
  width: 15%;
}

.tableEdit {
  width: 40px;
}

.tableDelete {
  width: 40px;
  border: 1px solid black;
}
