input {
  width: 60%;
  padding: 7.5px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #394365;
  border-radius: 4px;

}

label {
  margin-right: 20px;
}

.algemeen {
  display: flex;
}

.tables {
  margin-left: 10em;
}

button {
  display: none;
  float: right;
  margin-right: 5em;
  padding: 0.5em 1em;
  text-align: center;
  background-color: deepskyblue;
  color: white;
  display: inline-block;
  border: none;
  border-bottom: 3px solid #016b6d;
  border-radius: 3px;
}
