<app-header></app-header>
<div class="page">
  <form class="container" role="form" #f="ngForm" (ngSubmit)="ngSubmit(f)">
    <div class="page-content">
      <div style="height: 590px;">
        <h3>
          Evenement toevoegen
        </h3>
        <div>
          <label for="name" class="col-sm-2">Naam</label>
          <input type="text" id="name" name="name" placeholder="Naam" required
                 [(ngModel)]="event.name">
        </div>
        <div>
          <label class="col-sm-2" for="btw">Hoeveel instructeurs?</label>
          <input type="number" id="maxInstructors" name="maxInstructors" placeholder="Max. instructeurs"
                 [(ngModel)]="event.maxInstructors">
        </div>
        <div>
          <label class="col-sm-2" for="btw">BTW</label>
          <input type="text" id="btw" name="btw" placeholder="BTW"
                 [(ngModel)]="event.btw">
        </div>
        <div>
          <label class="col-sm-2" for="duration">Tijdsduur</label>
          <input type="text" id="duration" name="duration" placeholder="Tijdsduur" required
                 [(ngModel)]="event.duration">
        </div>
        <div>
          <label class="col-sm-2" for="pricePerPerson">Prijs per persoon</label>
          <input type="text" id="pricePerPerson" name="pricePerPerson" placeholder="Prijs per persoon" required
                 [(ngModel)]="event.pricePerPerson">
        </div>
        <div>
          <label class="col-sm-2" for="program">Programma</label>
          <input type="text" id="program" name="program" placeholder="Programma" required
                 [(ngModel)]="event.program">
        </div>
        <div>
          <label class="col-sm-2" for="description">Beschrijving</label>
          <input type="text" id="description" name="description" placeholder="Beschrijving" required
                 [(ngModel)]="event.description">
        </div>
        <div>
          <label class="col-sm-2" for="options">Opties</label>
          <input type="text" id="options" name="options" placeholder="Opties"
                 [(ngModel)]="event.options">
        </div>
        <div>
          <label class="col-sm-2" for="note">Notities</label>
          <input type="text" id="note" name="note" placeholder="Notities"
                 [(ngModel)]="event.note">
        </div>
        <div style="padding-bottom: 0.5em; padding-top: 0.5em ">
          <label class="col-sm-2">Eigen evenement?</label>
          <select [(ngModel)]="ownEvent" name="ownEvent" required>
            <option value="true">Ja</option>
            <option value="false">Nee</option>
          </select>
        </div>
        <div style="padding-bottom: 0.5em; padding-top: 0.5em ">
          <label class="col-sm-2">Leverancier</label>
          <select id="supplier" name="supplier" [(ngModel)]="selectedSupplier" required>
            <option *ngFor="let supplier of getSuppliers()" [ngValue]="supplier">
              {{supplier.name}}
            </option>
          </select>
        </div>
        <div style="padding-bottom: 0.5em; padding-top: 0.5em ">
          <label class="col-sm-2">Locatie</label>
          <select id="location" name="location" [(ngModel)]="selectedLocation" required>
            <option *ngFor="let eventLocation of getEventLocations()" [ngValue]="eventLocation">
              {{eventLocation.name}}
            </option>
          </select>
          <div class="buttons">
            <button class="btn btn-warning" style="margin-right: 10px" routerLink="/homeeventmanager/evenementenoverview">
              <i class="fa fa-close"></i> Annuleren
            </button>
            <button class="btn btn-primary" id="submit" type="submit" [disabled]="!f.valid"><i class="fa fa-save"></i>
              Toevoegen
            </button>
            <app-alerts></app-alerts>
          </div>
        </div>
      </div>
    </div>
  </form>


  <div>
  <form role="form" #fo="ngForm" (ngSubmit)="addNewLocations()">
    <div class="containerTables">
      <table class="locationTable">
        <th class="locations">Locaties
          <img src="../assets/img/addIcon.png"
               *ngIf="this.newLocations.length < 5 && locationName.length != 0; else hidden"
               style=" margin-left: 50px;
                width: 20px;
                height: 20px;
                cursor: pointer"
               (click)="onCreateLocation()"
               id="addLocation">
          <ng-template #hidden>
            <img src="../assets/img/addIcon.png" style=" margin-left: 50px;
                width: 20px;
                height: 20px;
                opacity: 0"
            >
          </ng-template>
          <img src="../assets/img/removeIcon.png" style="color: red; margin-left: 30px;
            cursor: pointer;width: 20px;
                height: 20px;" (click)="onDeleteLocation()"
          >
        </th>
        <tr>
          <input class="input" id="newLocation"
                 [(ngModel)]="locationName" name="locations" required>
        </tr>
        <tr *ngFor="let location of this.newLocations">
          <td>
            {{location.name}}
          </td>
        </tr>
        <button class="btn btn-primary"
                id="submitLocation"
                type="submit"
                style="width: 50%;
                margin-left: 25%;
                margin-right: 25%"
                [disabled]="this.newLocations.length === 0">
          Toevoegen
        </button>
      </table>
    </div>
  </form>
  <form class="container" role="form"  #fa="ngForm">
    <div class="containerTables" style="margin-top: -370px;">
      <table class="locationTableDel">
        <th class="locations">Verwijder locatie</th>
        <tr>
          <select id="delLocation" name="delLocation" [(ngModel)]="locationToDelete" style="margin-top: 10px;"
                  required>
            <option *ngFor="let delEventLocation of getEventLocations()" [ngValue]="delEventLocation">
              {{delEventLocation.name}}
            </option>
          </select>
        </tr>
        <button [disabled]="!fa.valid" class="btn btn-primary"
                id="deleteLocation"
                type="submit"
                style="width: 50%;
                margin-left: 25%;
                margin-right: 25%;
                margin-top: 2%;"
                (click)="onDeleteOldLocation(locationToDelete)">
          Verwijder
        </button>
      </table>
    </div>
  </form>
</div>
</div>
