<app-header></app-header>
<app-navbar></app-navbar>
<div class="mailPage" style="padding: 3em 0 0 3em">
  <h3 style="padding-bottom: 2em">Mailen</h3>
<div>
  <form>
    <div style="padding-bottom: 0.5em; padding-top: 0.5em ">
      <label class="col-sm-2">Soort Email</label>
      <select id="geslacht" required>
        <option value="m">Man</option>
        <option value="v">Vrouw</option>
      </select>

    </div>
    <div id="note-div">
      <label class="col-sm-2" for="note">Email</label>
      <textarea type="text" id="note" name="note "

      ></textarea>
    </div>
  </form>
</div>

